form{
    max-width: 25rem;
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgb(164, 185, 231);
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1.5rem;
    width: 100%;
    padding: 1.5rem;
}

.card{
    border: solid 1px black;
    border-radius: 8px;
    padding: 1rem;
    background-color: rgb(172, 246, 252);
    box-shadow: 2px 2px 10px rgb(90, 90, 216);
    font-size: 1.5rem;
    height: 17rem;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;     
    overflow-x: hidden;   
    word-break: break-all;
    text-align: center;
}

.card::-webkit-scrollbar{
    width: 0.5rem;
}

.card::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 0.8rem;
}

.titulo{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-all;
    line-height: 1.2;
    text-decoration: underline;
    
}

input[type ="text"], input[type="number"]{
    border-color: blue;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}
label{
    font-size: 1.5rem;
}

#add{
    font-size: 1.5rem;
    max-width: 8rem;
    margin: auto;
    border-radius: 0.5rem;
}
input[type ="checkbox"]{
    cursor: pointer;
    max-width: 3rem;
    margin: auto;
    gap: 0.5rem;
    transform: scale(1.5);
}

.botoncito{
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    background-color: rgb(216, 231, 75);
    
}